<a href="https://colab.research.google.com/github/remre/striveschool/blob/main/AppliedTextmining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text = "asdadad=a this This not what will happen etchics are in details most probably and never come back again so if you want to change the world for good yu should look at the moon"
text1 = text.split(" ")

In [ ]:
text1

['asdadad=a',
 'this',
 'not',
 'what',
 'will',
 'happen',
 'etchics',
 'are',
 'in',
 'details',
 'most',
 'probably',
 'and',
 'never',
 'come',
 'back',
 'again',
 'so',
 'if',
 'you',
 'want',
 'to',
 'change',
 'the',
 'world',
 'for',
 'good',
 'yu',
 'should',
 'look',
 'at',
 'the',
 'moon']

In [ ]:
[w for w in text1 if w.istitle()]

[]

In [ ]:
[w for w in text1 if w.endswith("d")]

['and', 'world', 'good', 'should']

In [ ]:
#find out unique words in text however it is not capable with lower capital words
len(set(text1))

33

In [ ]:
len(set([w.lower() for w in text1]))

32

### **Comparision Operations**




s.startswith(t)

s.endswith(t)

t in s 

s.upper(); s.islower(); s.istitle()

s.isalpha(); s.isdigit(); sisalnum()#alphebet or digits

### **String Operations**
 s.lower() s.upper() s.titlecase()

 s.split(t)#it will split the text

s.splitlines()

t.join(s)#opposite of split()

s.strip() ; s.rstrip() # strip will clean spaces and white spaces at the beginnig of the wrods and rstrip clean at the end of words


s.find(t); s.rfind # will find from the beginning and rfind will find from back


s.replace("a","b") a replace with b


*Examples:*

In [ ]:
text5 = "ouasd ihasidg ouasduhjasn asdasd dasd oudasd "
text6 = text5.split("ou")

In [ ]:
text6

['', 'asd ihasidg ', 'asduhjasn asdasd dasd ', 'dasd ']

In [ ]:
"ou".join(text6)

'ouasd ihasidg ouasduhjasn asdasd dasd oudasd '

In [ ]:
# to get characters in text u can go with list or c in c for text bllbalabla

### **Cleaning Text**

In [ ]:
text8 = "  A quick brown fox jumped over the lazy dog  "
text8.strip().split()

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

In [ ]:
text9 = "A quick brown fox jumped over the lazy dog"
text9.find("o")#when "o" is first occur
text2 = text9.replace("o","0")#replace 0 with 0
text2

'A quick br0wn f0x jumped 0ver the lazy d0g'

### **Handling Larger Text**
#### Reading files line by line 


f = open(filename,mode)


f.readline() f.read() f.read(n) n is how many line 

for line in f : doSomething(line)

f.seek(n) reading positoin

f.write(message) wrtie a message

f.close()

f.closed#check if u closed it

In [ ]:
f = open("Butwhyisaspheressurf.txt", "r",encoding='cp1252')#encoding is important
f.readline()

"Title:\tBut why is a sphere's surface area four times its shadow?\n"

In [ ]:
#reading full file
f.seek(0)
text12  = f.read()
len(text12)

18756

In [ ]:
text13 = text12.splitlines()

In [ ]:
text13[8].rstrip()

'Positive Reaction:\t94398'

### **ReGex**


. : wildcard,matches a single character 

^ : start with a string

$ : en of a string

[] : matches one of the set of characters within []

ex : [a-z], [^abc] matches a character that is not a,b or c

a|b matches either a or b 

() scoping for op

\ escapefrom characters like \t,\n,\b

\b matches word boundary

\D any non-digit 

\d any digit

\s any whitespace

\S any nonwhitespace character

\w Alphanumaric charactres

\W matches non alphanumeric characters

*: matches zero or more occurences 

"+" : matches one or more occurance

?:  matches zero or one occurances

{n} : exatcly n repetitions

{n,}

{,n}

{m,n}

In [ ]:
import re # import re - a module that provides support for regular expressions

text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr %4## ##@@ %%@@# $%%$ @#$ '
text8 = text7.split(' ')

[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [ ]:
[w for w in text8 if w.isalnum()]

In [ ]:
tweet = "@nltk Text analysis is @asda # awesome! #regex #pandas #python"

print([word for word in tweet.split() if word.startswith('#')])

['#', '#regex', '#pandas', '#python']

In [ ]:
text12 = "as dsfs asvcfht4 u65  ou dasd #43sd4sda 4534 *@@fgfhty@dasd asd"
re.findall(r"[^aeiou]",text12)
re.findall(r"[aeiou]",text12)

#### **Exercise Regex with Pandas and Named Groups**

In [ ]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [ ]:
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [ ]:
aaa = "Monday: The doctor's appointment is at 2:45pm."
len(list(aaa))

46

In [ ]:
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [ ]:
# find the number of characters for each string in df['text']
[len(str(df["text"][i])) for i in range(len(df))]

[46, 50, 49, 49, 54]

In [ ]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [ ]:
# find which entries contain the word 'appointment'
#df['text'].str.contains('appointment')
[df["text"][i].split(" ").startswith("Monday") for i in range(len(df))]

In [ ]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [ ]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [ ]:




# group and find the hours and minutes

# replace weekdays with '???'


# replace weekdays with 3 letter abbrevations


# create new columns from first match of extracted groups

# extract the entire time, the hours, the minutes, and the period


# extract the entire time, the hours, the minutes, and the period with group names

SyntaxError: ignored